$colors:(
    color-1:#CDDC39,
    color-2:#e91999,
    color-3:#6139dc
);
@function color($colorName){
    @return map-get($map: $colors, $key: $colorName);
}
body{
    margin: 0;
    .container{
        width: 100%;
        height: 100%;
        background-color: color(color-3);
       clip-path: polygon(0% 15%, 41% 0, 0 21%, 56% 1%, 0 31%, 0 58%, 100% 100%, 0 100%, 0 99%, 0 82%, 98% 100%, 0 74%);
        position: absolute;
        z-index: -1;
    }
    .clip2{
        clip-path: polygon(19% 100%, 0 74%, 0 100%, 26% 100%, 0 59%, 44% 100%);
        background-color: color(color-3);

    }
    header{
        text-align: right;
        color: #582310;
        margin-right: 10%;
        font-size: 18px;
    }
    .img_con{
        width: 40%;
        padding: 20px;
        img{
            width: 25%;
            position: absolute;
        }
    }
    .block {
        display: block;
        width: 11%;
        color: color(color-3);
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        float: right;
        margin: 15px;
        border-style: outset;
        border-color: lavender;
        text-decoration: none;
      }
      .block:hover{
        background-color:color(color-3);
        color:white;
      }
      .percel_container{
        background-color: #f2f2f2;
        padding: 20px;
        width: 70%;
         margin: auto;
         margin-top: 15px;
    }
    .form-style-8{
      font-family: 'Open Sans Condensed', arial, sans;
      width: 500px;
      padding: 30px;
      background: #FFFFFF;
      margin: 50px auto;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    
     h2{
      background: #0ea6b5;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', sans-serif;
      color: white;
      font-size: 18px;
      font-weight: 100;
      padding: 20px;
      margin: -30px -30px 30px -30px;
    }
     input[type="text"],
     input[type="date"],
     input[type="datetime"],
     input[type="email"],
     input[type="number"],
     input[type="search"],
     input[type="time"],
     input[type="url"],
     input[type="password"],
    textarea,
     select 
    {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      display: block;
      width: 100%;
      padding: 7px;
      border: none;
      border-bottom: 1px solid #ddd;
      background: transparent;
      margin-bottom: 10px;
      font: 16px Arial, Helvetica, sans-serif;
      height: 45px;
    }
    input[type="button"], 
    input[type="submit"]{
      -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
      -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
      box-shadow: inset 0px 1px 0px 0px #45D6D6;
      background-color: #2CBBBB;
      border: 1px solid #27A0A0;
      display: inline-block;
      cursor: pointer;
      color: #FFFFFF;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 14px;
      padding: 8px 18px;
      text-decoration: none;
      text-transform: uppercase;
    }
    input[type="button"]:hover, 
    input[type="submit"]:hover {
      background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
      background-color:#34CACA;
    }
  }
  .button{
    width: 20%;
    background-color: #593fec;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration:none;
      }
      
      .button:hover {
        background-color: #4CAF50;
        color: white;
      }
      .button1{
      width: 20%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration:none;
    margin-bottom: 35px;
    margin: auto;
      }
      

}